/* Added google fonts */
html {
  font-family: "Roboto", sans-serif;
}
/* Placeholder image, looks better with a bright image instead of solid color background */
.jumbotron {
  margin: 10px;
  background-image: url("../images/drew-taylor-658070-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 1100px 400px;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #69e182;
}

li {
  float: left;
}

 .navbar {
   float: right;
   margin-top: -5%;
 }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#card1 {
  background-color: #dfe1e2;
}

image {
  width: 960px;
  height: 300px;
  
}
#searchBtn {
  background-color: #69e182;
  border-color: #69e182;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.form-group {
  background-color: #dfe1e2;
  background: #dfe1e2;
}
#uploadImg {
  background-color: #69e182;
  border-color: #69e182;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.popDishesImage {
  height: 40%;
  width: 80%;
  margin: 5px;
  border-radius: 10px;
}
.dataReturn {
  color: green;
}
h6 {
  font-weight: bold;
}
footer {
  background-color: #69e182;
  position: relative;
  height: 20%;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
  text-align: center;
  font-size: 11px;
}