/* Added google fonts */
html {
  font-family: "Roboto", sans-serif;
}
/* Placeholder image, looks better with a bright image instead of solid color background */
.jumbotron {
  margin: 10px;
  background-image: url("../images/i1.png");
  height: auto;
}
image {
  width: 960px;
  height: 300px;
}
#searchBtn {
  background-color: #69e182;
  border-color: #69e182;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
#uploadImg {
  background-color: #69e182;
  border-color: #69e182;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.popDishesImage {
  height: 40%;
  margin: 5px;
}
.dataReturn {
  color: green;
}
h6 {
  font-weight: bold;
}
footer {
  background-color: #69e182;
  position: relative;
  height: 20%;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
  text-align: center;
  font-size: 11px;
}

#card2,
#searchDishesHeader,
#searchDishes {
  visibility: hidden;
}
.innerDivs {
  float: left;
  color: black;
}
